<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EndPointExternalProvider" value="BasicHttpBinding_IExternalProvider"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExternalProvider" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3221/ServiceExternalProvider.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalProvider"
          contract="ServiceExternalProvider.IExternalProvider" name="BasicHttpBinding_IExternalProvider" />
    </client>
  </system.serviceModel>
</configuration>